<%= form_with model: chatroom, local: true do |form| %>
  <% if chatroom.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
        <% chatroom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.text_field :owner_id, value: current_user.id, 
    readonly: true, class: 'form-line', style: 'text-align: center'; %>
  </div>

  <div>
    <%= form.label :partner_id, style: "display: block" %>
    <%= form.text_field :partner_id, class: 'form-line' %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-line' %>
  </div>

  <div>
    <%= button_tag type: 'submit', class: 'chatroom-create-button' do %>
      <p>Chatroom to Create</p>
      <ion-icon name="chatbubbles-sharp"></ion-icon>
    <% end %>
  </div>
<% end %>
