<h1>New Chat</h1>

<%= form_with(model: @chat, local: true) do |form| %>

  <div class="field">
    <%= form.label :chatroom_id %>
    <%= form.text_field :chatroom_id, value: @chatroom.id, readonly: true %>
  </div>


  <div class="field">
    <%= form.label :sender_id, "Sender ID" %>
    <%= form.text_field :sender_id, value: current_user.id, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  
  <div class="actions">
    <%= form.submit "Sending" %>
  </div>

  <% @chats.each do |chat| %>
    <p><strong>Content:</strong> <%= chat.content %></p>
    <p><strong>Email:</strong> <%= chat.user.email %></p>
    <p><strong>Sent_at:</strong> <%= chat.sent_at %></p>
  <% end %>
  

  <%= link_to "Back to Chatroom", root_path %>
<% end %>
